.has-bg-img {
    background: url("photos/mountains.jpg")center center;
    background-size: cover;
}

.wide-spacing {
    letter-spacing: 2px;
}

.navigation {
    margin-top: -35px;
}

.w3-card-2 {
    height: 350px;
}

.card {
    height: 100%;
    border-radius: 5px;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.card-footer {
    margin-top: auto;
}

.aboutMe {
    width: 100%;
}

.ab {
    padding: 5px;
}

#myPic {
    margin-right: 25px;
}

.smLink {
    padding: 5px;
}

.connectwithme {
    width: 100vw;
}

.someLinks {
    width: 30%;
    text-align: center;
}

.shadow {
    box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
}

.thumbnail:hover {
    box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.blacktext {
    color: black;
    font-size: 18px;
    padding: 5px;
    font-weight: lighter;
}

.charlottePic {
    float: left;
    width: 500px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact-wrapper {
    width: 100vw;
}

.blacktext:hover {
    text-decoration: none;
}
