header{
	background-color: #ffffff;
	border-style: solid;
	border-color: #eee;
	border-width: 0px 0px 1px 0px;
}

h1{
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 28px;
	font-weight: bold;
	width: 250px;
	text-align: center;
	float: left;
	padding: 15px;
	padding-top: 30px;
	margin-bottom: 0px;
	margin-left: 30px;
	height: 40px;
	letter-spacing: 1.2px;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	background-color: #ffffff;
	border-color: #eee;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	padding: 10px;
	font-size: 26px;
	font-weight: bold;
	margin: 20px;
}	

h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	background-color: #ffffff;
	border-color: #eee;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	margin: 20px;
}

h4{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	background-color: #4aaaa5;
	padding: 10px;
	height: 10px;
	width: 180px;
	font-weight: normal;
	margin: 0px;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

body {
	background-image: url("../images/soft_wallpaper.png");
}

a:link{
	color: #777777;
	text-decoration: none;
}

a:visited{
	color: #777777;
	text-decoration: none;
}

a:hover{
	color: #777777;
	text-decoration: underline;
}

footer{
	text-align: center;
	background-color: #666666;
	border-color: #4aaaa5;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	padding-top: 20px;
	height: 35px;
    width:100%;
    clear: both;
}

html, body{
	height: 100%;
	margin:0;
}

.wrapper{
	min-height: 100%;
	margin-bottom: -56px;
}

.footer,
.push{
	height:50px;
}

.menu{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	float: right;
	text-decoration: none;
	padding-top: 50px;
	padding-right: 30px;
	margin-right: 28px;
}

#portfolio{
	border-style: solid;
	border-width: 0px 2px 0px 2px;
	border-color: #eee;
	padding: 10px;
	margin: 10px;
}

.connectwithme{
	background-color: #ffffff;
	border-color: #dddddd;
	float: left;
	width: 240px;
	height: 140px;
	margin: 30px 30px 10px 10px;
	padding: 15px;
	text-align: center;
	border: 1px solid #eee;
}

#gith{
	margin-left: 10px;
	margin-right: 10px;
}

#aboutmepicbox{
	width: 620px;
	float: left;
	background-color: #ffffff;
	padding: 15px;
	margin: 30px 30px 50px 30px;
	border: 1px solid #eee;
}

#biopic{
	float: left;
	margin: 15px 20px 15px 20px;
}

#aboutme{
	padding: 10px;
	margin: 10px 15px 10px 20px;
	line-height: 30px;
}

.portfoliolinks{
	width: 620px;
	float: left;
	background-color: #ffffff;
	padding: 15px;
	margin: 30px;
	border: 1px solid #eee;
}

#imageone{
	position: relative;
	text-align: center;
	float: left;
	margin: 20px 40px 10px 60px;
}

#labelone{
	position: absolute;
	bottom: 15px;
}

#imagetwo{
	position: relative;
	text-align: center;
	float: left;
	margin: 20px 40px 20px 40px;
}

#labeltwo{
	position: absolute;
	bottom: 15px;
}

#imagethree{
	position: relative;
	text-align: center;
	float: left;
	margin: 20px 40px 10px 60px;
}

#labelthree{
	position: absolute;
	bottom: 15px;
}

#imagefour{
	position: relative;
	text-align: center;
	float: left;
	margin: 20px 40px 20px 40px;
}

#labelfour{
	position: absolute;
	bottom: 15px;
}

#imagefive{
	position: relative;
	text-align: center;
	float: left;
	margin: 20px 40px 10px 60px;
}

#labelfive{
	position: absolute;
	bottom: 15px;
}

.contactsection{
	width: 620px;
	float: left;
	height: 520px;
	background-color: #ffffff;
	padding: 15px;
	margin: 30px;
	border: 1px solid #eee;
}

#theform{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	overflow-y: scroll;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 10px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
}

textarea{
	width: 610px;
	margin: 10px 2px 10px 2px;
	border: 1px solid lightgray;
}

::-webkit-input-placeholder { color: #dadcdc; }
::-moz-placeholder {color: #dadcdc; }
:-ms-input-placeholder { color: #dadcdc; } 
:-o-input-placeholder { color: #dadcdc; } 

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}
